div.content-card {
    border-style: solid;
    border-width: 5px;
    height: 250px;
    line-height: 12px;
    border-color: aquamarine;
}

div.content-card img {
    width: 100px;
}

div.content-card.last {
    border-width: 2px;
    border-color: black;
}

